html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #a79277;
}

#hero {
    background-color: #a79277;
    color: #fff2e1;
    display: flex;
}

#aboutme {
    background-color: #fff2e1;
    color: #a79277;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.korobka-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

#myachievements {
    padding-top: 70px;
    background-color: #fff2e1;
    color: #a79277;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

.myach1 {
    padding-left: 150px;
    padding-right: 100px;
    background-color: #fff2e1;
    color: #a79277;
    display: flex;
    height: 600px;
}

.myach2 {
    background-color: #fff2e1;
    color: #a79277;
    display: flex;
    height: auto;
}

#myblog {
    padding: 50px 0;
    background-color: #a79277;
    color: #fff2e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.korobka {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95vh;
}

.korobka2 {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 95vh;
}

.korobka3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.korobka4 {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 45%;
    height: 70vh;
}

.korobka7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500%;
    height: 70vh;
}

.korobka8 {
    padding-right: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 1000%;
    height: 70vh;
}

.korobka9 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
}

.korobka10 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70vh;
}

.korobka10 img {
    width: 60%;
    height: auto;
}

.korobka11 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75vh;
}

.korobka12 {
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
    height: 60vh;
}

.korobka13 {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 50%;
    flex-direction: column;
    align-items: center;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 100px;
}

h2 {
    margin: 0;
    font-size: 50px;
}

h3 {
    margin: 0;
    font-size: 30px;
}

.textcenter {
    text-align: center;
}

img {
    width: 80%;
    z-index: 2;
}

.w50 {
    width: 30%;
}

input,
textarea {
    display: block;
    margin: 30px 0;
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 30px;
    border: 0;
}

textarea {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

#contactme {
    padding: 50px;
    color: #a79277;
    background-color: #fff2e1;
    position: relative;
    z-index: 3;
}

.m50 {
    margin: 50px;
}

.link {
    font-size: 30px;
    text-decoration: none;
    margin: 0 30px;
    color: #fff2e1;
}

nav {
    z-index: 100;
    border: 1px solid #fff2e1;
    margin: 20px 50px;
    border-radius: 50px;
    width: calc(100% - 100px);
    color: #fff2e1;
    background-color: #a79277;
    display: flex;
    align-items: center;
    height: 60px;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
}

a:hover {
    background-size: 100% 2px;
}

#up {
    background-image: url("images/strelka-removebg-preview.png");
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 100px;
    position: fixed;
    background-size: cover;
    z-index: 200;
}

.right {
    position: absolute;
    right: 80px;
}

.btn {
    padding: 10px 30px;
    background-color: #ead8c0;
    border-radius: 30px;
    color: black;
}

#aboutme {
    padding: 70px 0;
}

.piatno {
    z-index: 1;
    position: absolute;
    width: 1px;
    height: 1px;
    top: 500px;
    left: 75%;
    box-shadow: 0px 0px 300px 300px #ffffff;
}

.skill {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.skill h2 {
    margin: 0;
    padding-right: 5px;
    white-space: nowrap;
    width: 200px;
}

.skill img {
    width: 80px;
    height: auto;
    margin-left: 15px;
}

.skill img.yellow-filter {
    filter: url(#yellow-colorize);
}

.korobka5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

#myskills {
    display: flex;
    background-color: #a79277;
    color: #fff2e1;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

button {
    width: 100%;
    height: 50px;
    background-color: #a79277;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label {
    font-size: 25px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {}